.expand-button {
    margin-left: 25%;
    width: 50%; /* Espacio interior a la derecha */
    text-align: center;
    background-color: #007bff; /* Color de fondo deseado */
    color: #fff; /* Color de texto deseado */
    border: none; /* Quita el borde si lo deseas */
  }

  