<app-header title="Cuenta"></app-header>
<ion-content class="ion-padding">
  <ion-grid class="ion-no-padding">
    <!-- Centro del contenido -->
    <ion-row justify-content-center align-items-center class="ion-text-center center-content">
      <ion-col size="12">
        <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
        <ion-label class="name-label"><h1>{{ this.user.name }}</h1></ion-label> <p></p>
        <ion-label class="tipo-usuario-label"><h1>{{ this.user.tipoUsuario }}</h1></ion-label>
      </ion-col>
    </ion-row>
    

    <!-- Detalles del usuario -->
    <ion-row justify-content-center>
      <ion-col size-md="8" size-lg="6">
        <ion-item class="input-item">
          <ion-label class="label">Nombre Usuario:</ion-label>
          <ion-input type="text" [(ngModel)]="user.name"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label class="label">Correo electrónico:</ion-label>
          <ion-input type="text" [(ngModel)]="user.email"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label class="label">Dirección:</ion-label>
          <ion-input type="text" [(ngModel)]="user.direccion"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label class="label">Contraseña:</ion-label>
          <ion-input type="text" [(ngModel)]="user.password"></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-label class="label">Telefono:</ion-label>
          <ion-input type="text" [(ngModel)]="user.telefono"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- Botones de acción -->
    <ion-row justify-content-center class="button-row">
      <ion-col size-md="8" size-lg="6">
        <ion-button (click)="editarItem(this.user.uid )" expand="full" fill="solid" color="secondary" shape="round" class="action-button">
          Editar
        </ion-button>
        <ion-button (click)="signOut()" expand="full" fill="solid" color="danger" shape="round" class="action-button">
          Cerrar Sesión
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
