<app-header title="Cuenta"></app-header>
<ion-content>
  <!--
  <ion-item>
    <ion-label>Nombre Usuario: {{userData.username}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Correo electrónico: {{ userData.email }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Dirección: {{userData.direccion}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Contraseña: {{userData.password}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Telefono: {{userData.telefono}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Tipo de Usuario: {{userData.tipoUsuario}}</ion-label>
  </ion-item>
  <ion-item>
 

  </ion-item>
     -->
     <ion-button (click)="signOut()" expand="block" fill="clear" shape="round">
      Cerrar Sesion
    </ion-button>
</ion-content>
