ion-row.center-content {
    align-items: center !important;
}

.profile-icon {
    font-size: 10em;
}

.name-label, .tipo-usuario-label {
    font-weight: bold;
    display: block; 
    text-align: center;
}


.action-button {
    font-size: 0.8em;
    padding: 5px 10px;
}

ion-label.label {
    font-weight: bold;
}

// CSS Media Query para pantallas más pequeñas
@media only screen and (max-width: 768px) {
    .profile-icon {
      font-size: 6em;
    }
  
    .action-button {
      font-size: 0.7em;
      padding: 4px 8px;
    }
  }
  
  // CSS para hacer el input más ancho en pantallas grandes
  ion-item.input-item {
    ion-input {
      width: 100%;
    }
  }
  