

.custom-item {
    margin: bottom 0;;
  }

.ion-checkbox-1 {
    --border-radius: 50%; /* Configura el radio de las esquinas */
    --background: #007bff; /* Cambia el color de fondo según tus preferencias */
    --border-color: #05090c; /* Cambia el color del borde según tus preferencias */
  }