.custom-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.large-icon {
  font-size: 5rem; /* Ajusta el tamaño del icono según tus preferencias */
  margin-bottom: 5px; /* Espacio entre el icono y los títulos/subtítulos */
}

.centered-button {
  margin-top: 5px; /* Espacio entre los títulos/subtítulos y el botón */
}

.expand-button {
  margin-left: 23%;
  width: 50%; /* Espacio interior a la derecha */
  text-align: center;
  background-color: #007bff; /* Color de fondo deseado */
  color: #fff; /* Color de texto deseado */
  border: none; /* Quita el borde si lo deseas */
}
