<app-header [isModal]="true" title="Modificar Localidad"></app-header>
<ion-content>
    <form [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
        <ion-list>    
          <ion-item>
            <ion-label position="floating">Nombre Descriptivo</ion-label>
            <ion-input formControlName="nombre" type="text" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Dirección</ion-label>
            <ion-input formControlName="direccion" type="text" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Comuna</ion-label>
            <ion-input formControlName="comuna" type="text" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Región</ion-label>
            <ion-input formControlName="region" type="text" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Monto</ion-label>
            <ion-input formControlName="monto" type="number" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-select label="Tipo de Propiedad" formControlName="tipoPropiedad">
              <ion-select-option value="casa">Casa</ion-select-option>
              <ion-select-option value="departamento">Departamento</ion-select-option>
              <ion-select-option value="terreno">Terreno</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select label="Cantidad de Habitaciones" formControlName="habitaciones">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
              <ion-select-option value="4">4</ion-select-option>
              <ion-select-option value="5">5</ion-select-option>
              <ion-select-option value="6">6</ion-select-option>
              <ion-select-option value="7">7</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select label="Cantidad de Baños" formControlName="banos">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-checkbox formControlName="wifi" slot="start"><ion-label>Wi fi</ion-label></ion-checkbox>
            <ion-checkbox formControlName="patio" slot="start"><ion-label>Patio</ion-label></ion-checkbox>
            <ion-checkbox formControlName="terraza" slot="start"><ion-label>Terraza</ion-label></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-checkbox formControlName="agua" slot="start"><ion-label>Agua</ion-label></ion-checkbox>
            <ion-checkbox formControlName="electricidad" slot="start"><ion-label>Luz</ion-label></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Descripción</ion-label>
            <ion-input formControlName="descripcion" type="text" required></ion-input>
          </ion-item>
        </ion-list>
        <ion-button expand="full" type="submit" (click)="onSubmit()">Editar</ion-button>

    </form>
</ion-content>
